[Unit]
Description=Daily tools.fcullmann.com database backup

[Timer]
OnCalendar=*-*-* 04:20:00
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
